[tool.poetry]
name = "globus-automate-client"
version = "0.15.2"
description = "Client for the Globus Flows service"
authors = [
    "Jake Lewis <jake@globus.org>",
    "Kurt McKee <kurt@globus.org>",
    "Rudyard Richter <rudyard@globus.org>",
    "Lei Wang <lei@globus.org>",
]
keywords = [
    "globus",
    "flows",
    "automation",
    "workflow",
    "action_provider",
    "command line",
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3.6",
    "Topic :: Internet :: WWW/HTTP",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
    "Topic :: Software Development :: Libraries :: Python Modules",
]

readme = "README.rst"
license = "Apache-2.0"

[tool.poetry.scripts]
globus-automate = "globus_automate_client.cli.main:app"

[tool.poetry.dependencies]
python = "^3.6.3"
globus-sdk = "^3.1"
graphviz = "^0.12"
importlib-metadata = {version = "^4.8.1", python = "<3.8"}
typer = {extras = ["all"], version = "^0.4.1"}
jsonschema = "^3.2.0"
PyYAML = "^5.3.1"
rich = "^12.3.0"
arrow = "^1.1.1"
typing-extensions = "^4.1.1"

[tool.poetry.dev-dependencies]
isort = "^5.9"
pytest = "^5.0"
jupyter = "^1.0.0"
sphinx = "^3.2.1"
rstcheck = "^3.3.1"
furo = "^2021.4.11-beta.34"
sphinx-copybutton = "^0.3.1"
# ----
# typer-cli is temporarily disabled due to its dependencies.
# When it is compatible with our typer dependency, update the dev dependency here
# and modify the Makefile's "docs" target to remove the pip install/uninstall calls.
# typer-cli = "^0.0.12"
# ----
pypandoc = "^1.5"
importmagic = "^0.1.7"
epc = "^0.0.5"
flake8 = "^3.9.2"
black = {extras = ["jupyter"], version = "^21.12b0"}
mypy = "^0.910"
types-PyYAML = "^5.4.6"
types-requests = "^2.25.6"
scriv = {extras = ["toml"], version = "^0.14.0"}
tox = "^3.24.4"
pre-commit = "^2.15.0"
responses = "^0.14.0"

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
combine_as_imports = true
line_length = 88
profile = "black"
src_paths = ["globus_automate_client", "examples", "docs", "tests"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.mypy]
python_version = "3.6"
ignore_missing_imports = true

[tool.scriv]
categories = ["Features", "Bugfixes", "Documentation"]
version = "literal: pyproject.toml: tool.poetry.version"

[tool.coverage.run]
branch = true
